.area {
    width: auto;
    max-width: 1170px;
    margin: 10px auto;
}

.post-list {
    border: 2px solid #000;
    width: 500px;
    padding: 0 10px 10px;
}

.post-list__header {
    border-bottom: 2px solid #000;
    font-size: 22px;
    font-weight: bold;
}

.post-list__blocks {
    border: 2px solid #000;
    padding: 0 20px 20px;
    margin: 20px 10px;
}


.post-list-add {
    background-image: url(add.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
}


.formsfon {
    display: none; 
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(1, 1, 1, 0.3);
}

.forms {
    width: 400px;
    height: 270px;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    z-index: 20;
    margin: 0 auto;
    padding: 20px;
}


.forms__title {
    font-size: 22px;
}

.forms__fields {
    width: calc(100% - 40px);
    margin: 10px 30px 5px 10px;
}

.forms__input {
    width: 100%;
    height: 25px;
    padding: 5px 0;
    margin: 10px 0;
}

.post-list__post {
    display: block;
}

.post-list__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.forms__btn {
    border: 2px solid #000;
    margin: 5px 0;
    font-size: 18px;
    padding: 5px 10px;
    width: 70px;
}


.post-list__descr {
    font-size: 15px;
    margin: 10px 0;
    width: 100%;
}

.post-list__open {
    background-image: url(check.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    float: right;
}

.post-list__close {
    background-image: url(cancel.svg);
    background-size: cover;
    border: 1px solid #000;
    width: 17px;
    height: 17px;
    float: right;
    display: inline-block;
    margin-left: 5px;
}

.close-form {
    border: 0;
}

.result {
    float: right;

}